.sources {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 120px;
    margin-bottom: 40px;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgba(56, 58, 69, 0.5);
    box-shadow: 0 0.8em 0.5em -0.4em #30c5ff;
    font: 300 1em 'Fira Sans', sans-serif;
    overflow: auto;
}

.source__item {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    max-width: 300px;
    margin: 0.5em;
    padding: 1em 2em;
    border: 2px solid #30c5ff;
    background: #17181c;
    font: inherit;
    color: #70d6ff;
    line-height: 1;
    cursor: pointer;
    transition: 0.25s;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    color: #69db7e;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
