body {
    color: #30c5ff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
 
    width: 100%;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.rsschool-img {
    height: 30px;
    
}

.github-img {
    height: 30px;
}

.github,
.rsschool {
    padding: 5px;
}

.copyright {
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10px;
}

@media  (max-width:360px) {
    .wrapper {
        margin-left: 20px;
    }
}